# Server
PORT=3001
NODE_ENV=development

# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=saas_db
DB_USER=saas_user
DB_PASSWORD=saas_password

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_EXCHANGE=hotel_events

# Auth Service (internal call)
AUTH_SERVICE_URL=http://auth-service:3002
AUTH_SERVICE_INTERNAL_TOKEN=super_secret_internal_token

# Misc
INITIAL_ADMIN_PASSWORD_PREFIX=TempPass!
